body {
  background-color: #33415f;
  font-family: 'Roboto', sans-serif;
}
.conteiner {
  max-width: 1170px;
  margin: auto;
}
header.header.conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: 17px;
}
.menu-item {
  margin-right: 25px;
}
.menu-link {
  color: #fff;
  text-decoration: none;
}
.user {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #fff;
}
.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}
